{% extends 'base.html' %}

{% block title %}
    Регистрация
{% endblock %}

{% block content %}

    <style>

        .register-box {
            max-width: 650px;
            margin: auto;

            background: #121212;
            border-radius: 32px;

            padding: 45px;

            border: 1px solid #222;
        }

        .register-box h1 {
            font-size: 48px;
            margin-bottom: 30px;
        }

        .form-group {
            margin-bottom: 24px;
        }

        .form-group label {
            display: block;
            margin-bottom: 10px;
        }

        .form-group input {
            width: 100%;
            padding: 18px;

            background: #1b1b1b;

            border: 1px solid #2a2a2a;

            border-radius: 16px;

            color: white;
        }

        .errorlist {
            margin-top: 10px;
            color: #ff5c5c;
            list-style: none;
            font-size: 14px;
        }

        .form-errors {
            background: #2a1212;
            border: 1px solid #ff4d4d;
            padding: 20px;
            border-radius: 16px;
            margin-bottom: 20px;
        }

    </style>

    <div class="register-box">

        <h1>
            Регистрация
        </h1>

        {% if form.errors %}
            <div class="form-errors">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    {{ field.errors }}
                {{ form.username.errors }}
                {{ form.email.errors }}
                {{ form.phone.errors }}
                </div>
            {% endfor %}

            <button class="btn" type="submit">
                Создать аккаунт
            </button>
        </form>

    </div>

{% endblock %}