{% extends 'base.html' %}

{% block title %}
Услуга
{% endblock %}

{% block content %}

<style>

.detail{
    background:#121212;
    border-radius:34px;
    overflow:hidden;
    border:1px solid #222;
}

.detail img{
    width:100%;
    height:450px;
    object-fit:cover;
}

.detail-content{
    padding:40px;
}

.detail-content h1{
    font-size:54px;
    margin-bottom:20px;
}

.detail-content p{
    color:#b0b0b0;
    line-height:1.9;
    font-size:18px;
}

.price{
    margin-top:30px;
    color:#ff6600;
    font-size:44px;
    font-weight:900;
}

</style>

<div class="detail">

    {% if service.image %}
    <img src="{{ service.image.url }}">
    {% endif %}

    <div class="detail-content">

        <h1>
            {{ service.course_name }}
        </h1>

        <p>
            {{ service.description }}
        </p>

        <div class="price">
            {{ service.initial_price }}€
        </div>

        <br>

        <a href="{% url 'create_application' %}" class="btn">
            Заказать услугу
        </a>

    </div>

</div>

{% endblock %}