{% extends 'base.html' %}

{% block title %}
Услуги
{% endblock %}

{% block content %}

<style>

.services-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(340px,1fr));
    gap:25px;
}

.service-card{
    background:#121212;
    border-radius:30px;
    overflow:hidden;
    border:1px solid #222;
    transition:.35s;
}

.service-card:hover{
    transform:translateY(-8px);
    border-color:#ff6600;
}

.service-card img{
    width:100%;
    height:260px;
    object-fit:cover;
}

.service-content{
    padding:26px;
}

.service-content h2{
    margin-bottom:15px;
}

.service-content p{
    color:#b0b0b0;
    line-height:1.7;
}

.price{
    margin-top:20px;
    color:#ff6600;
    font-size:34px;
    font-weight:900;
}

</style>

<h1 class="section-title">
    Услуги автосервиса
</h1>

<div class="services-grid">

{% for service in services %}

<div class="service-card">

    {% if service.image %}
    <img src="{{ service.image.url }}">
    {% endif %}

    <div class="service-content">

        <h2>
            {{ service.course_name }}
        </h2>

        <p>
            {{ service.description }}
        </p>

        <div class="price">
            {{ service.initial_price }}€
        </div>

        <br>

        <a href="{% url 'orders:service_detail' service.pk %}" class="btn">
            Подробнее
        </a>

    </div>

</div>

{% endfor %}

</div>

{% endblock %}