{% extends 'base.html' %}

{% block title %}
Автомобиль
{% endblock %}

{% block content %}

<style>

.detail-layout{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:30px;
}

.detail-card,
.history-card{
    background:#121212;
    border-radius:32px;
    padding:35px;
    border:1px solid #222;
}

.detail-image{
    width:100%;
    height:420px;
    object-fit:cover;
    border-radius:22px;
    margin-bottom:30px;
}

.detail-row{
    display:flex;
    justify-content:space-between;
    padding:18px 0;
    border-bottom:1px solid #222;
}

.history-item{
    background:#1b1b1b;
    border-left:4px solid #ff6600;
    padding:18px;
    border-radius:14px;
    margin-bottom:16px;
}

@media(max-width:1100px){

    .detail-layout{
        grid-template-columns:1fr;
    }

}

</style>

<div class="detail-layout">

<div class="detail-card">

    <img class="detail-image"
         src="https://images.unsplash.com/photo-1503376780353-7e6692767b70?q=80&w=1800">

    <h1 class="section-title">
        {{ vehicle.brand }} {{ vehicle.model }}
    </h1>

    <div class="detail-row">
        <span>VIN</span>
        <strong>{{ vehicle.vin }}</strong>
    </div>

    <div class="detail-row">
        <span>Номер</span>
        <strong>{{ vehicle.plate_number }}</strong>
    </div>

    <div class="detail-row">
        <span>Год</span>
        <strong>{{ vehicle.year }}</strong>
    </div>


    <div class="detail-row">
        <span>Цвет</span>
        <strong>{{ vehicle.color }}</strong>
    </div>

</div>

<div class="history-card">

    <h2 style="margin-bottom:25px;">
        История ремонта
    </h2>

    <div class="history-item">
        Замена масла и фильтров
    </div>

    <div class="history-item">
        Диагностика двигателя
    </div>

    <div class="history-item">
        Замена тормозных колодок
    </div>

</div>

</div>

{% endblock %}