{% extends 'base.html' %}

{% block title %}
Цены
{% endblock %}

{% block content %}

<style>

.price-table{
    background:#121212;
    border-radius:30px;
    overflow:hidden;
    border:1px solid #222;
}

.price-row{
    display:flex;
    justify-content:space-between;
    padding:24px 30px;
    border-bottom:1px solid #222;
}

.price-row:last-child{
    border-bottom:none;
}

.price-row h3{
    font-size:20px;
}

.price-row strong{
    color:#ff6600;
    font-size:24px;
}

</style>

<h1 class="section-title">
    Прайс-лист
</h1>

<div class="price-table">

    <div class="price-row">
        <h3>Замена масла</h3>
        <strong>50€</strong>
    </div>

    <div class="price-row">
        <h3>Компьютерная диагностика</h3>
        <strong>80€</strong>
    </div>

    <div class="price-row">
        <h3>Замена тормозных колодок</h3>
        <strong>120€</strong>
    </div>

    <div class="price-row">
        <h3>Полировка кузова</h3>
        <strong>250€</strong>
    </div>

    <div class="price-row">
        <h3>Ремонт двигателя</h3>
        <strong>900€</strong>
    </div>

</div>

{% endblock %}