{% extends 'base.html' %}

{% block title %}
Заказы
{% endblock %}

{% block content %}

<style>

.order-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(340px,1fr));
    gap:25px;
}

.order-card{
    background:#121212;
    border-radius:28px;
    padding:30px;
    border:1px solid #222;
    transition:.35s;
}

.order-card:hover{
    border-color:#ff6600;
    transform:translateY(-5px);
}

.order-card h2{
    margin-bottom:15px;
}

.order-card p{
    color:#b0b0b0;
    line-height:1.7;
}

.status{
    display:inline-block;
    margin-top:20px;
    background:#ff6600;
    color:white;
    padding:10px 18px;
    border-radius:999px;
    font-weight:700;
}

</style>

<h1 class="section-title">
    Заказы клиентов
</h1>

<div class="order-grid">

{% for order in orders %}

<div class="order-card">

    <h2>
        {{ order.vehicle.brand }}
        {{ order.vehicle.model }}
    </h2>

    <p>
        {{ order.problem_description }}
    </p>

    <br>

    <strong>
        {{ order.user.full_name }}
    </strong>

    <div class="status">
        В работе
    </div>

</div>

{% endfor %}

</div>

{% endblock %}